<container style="display:flex; flex-direction:column">
<section class="">
  <form id="puteditPost">
    <section>
      <input id="blogTitle"></input>
      <input id="blogSummaryText"></input>
      <textarea id="BlogContent"></textarea>
    </div>
    </form>
    
</section>
    <script src="/js/editblog.js"></script>
</container>