<section>
<!-- This is the form for adding a new post -->
  <div class="add-post-container">
    <form class="new-post-form">
      <label for="addBlog">
        Add your new blog here:
      </label>
      <br />
      <input id="blogTitle" name="blog_title" rows="1" cols="30">
      </input>
      <br />
      <textarea id="blogText" name="blogText" rows="2" cols="30">
      </textarea>
      <br />  
     <button id="newPost" onclick="newPostHandler" value="Submit">
        Add Blog
      </button>
    </form>
    <script src="/js/postnewblog.js"></script>
</div>
</section>
