
<container style="display:flex; flex-direction:column">
  <!-- This is the form for adding a new comment -->
 <section>
  <div id="postButton" class="removeClass">
            <button onclick="toggleClasses">Add Post </button></a>
</div>
</section>
<section id="userBlogs" class="removeClass" style="display:flex; flex-direction:row">
{{#each blogs as |blog|}}
{{> dashboard-details}}
{{/each}}
</section>
<section id="newUserBlogs" class="removeClass" style="display:flex; flex-direction:row">
{{> newblog}}
</section>
<section id="newUserBlogs" class="removeClass" style="display:flex; flex-direction:row">
{{> editableblogdetails}}
</section>
{{!-- <section id="newUserBlogs" class="addClass" style="display:flex; flex-direction:row">
{{> editblog}}
</section> --}}

<section>


    <script src="/js/add-blog.js"></script>
    <script src="/js/editblog.js"></script>
</div>
</section>
</container>